:root {
    --gradiente-1: rgba(45, 55, 118, 1);
    --h5-font-family: "Inter", Helvetica;
    --h5-font-weight: 500;
    --h5-font-size: 23px;
    --h5-letter-spacing: 0px;
    --h5-line-height: normal;
    --h5-font-style: normal;
    --caption-font-family: "Roboto", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 12px;
    --caption-letter-spacing: 0px;
    --caption-line-height: normal;
    --caption-font-style: normal;
  }
  